@font-face{font-family: "anton";src: url(font-folder/anton.ttf);}

#antonBlack{font-family: "anton";}



@font-face{font-family: "edo";src: url(font-folder/edo.ttf);}

#edo{font-family: "edo";}



@font-face{font-family: "robotoBold";src: url(font-folder/roboto/robotoBold.ttf);}

#robotoBold{font-family: "robotoBold";}



@font-face{font-family: "robotoRegular";src: url(font-folder/roboto/robotoRegular.ttf);}

#roboto{font-family: "robotoRegular";}






