@font-face{font-family: "RobotoBlack";src: url(font-folder/Roboto/RobotoBlack.ttf);}
#RobotoBlack{font-family: "RobotoBlack";}

@font-face{font-family: "RobotoBold";src: url(font-folder/Roboto/RobotoBold.ttf);}
#RobotoBold{font-family: "RobotoBold";}

@font-face{font-family: "RobotoBoldItalic";src: url(font-folder/Roboto/RobotoBoldItalic.ttf);}
#RobotoBoldItalic{font-family: "RobotoBoldItalic";}

@font-face{font-family: "RobotoItalic";src: url(font-folder/Roboto/RobotoItalic.ttf);}
#RobotoItalic{font-family: "RobotoItalic";}

@font-face{font-family: "RobotoRegular";src: url(font-folder/Roboto/RobotoRegular.ttf);}
#RobotoRegular{font-family: "RobotoRegular";}




@font-face{font-family: "Anton";src: url(font-folder/Anton.ttf);}
#Anton{font-family: "Anton";}





